@import url("../lib/foundation/css/foundation.css");
@import url("../lib/foundation-icons/foundation-icons.css");
@import url("../lib/font-awesome/css/font-awesome.css");
@import url("header.css");
@import url("fonts.css");

@font-face {
    font-family: rbn;
    src: url(fonts/RBN.otf);
}

body {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    background: #181a1e;
    overflow-x: hidden;
}
/* Shared Stuff
   ========================================================================== */
ul {
    list-style: none;
}

h4 {
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
}
strong *{
    color: #7cba00;
}
strong {
    color: #7cba00;
}

table {
    width: 100%;
    text-align: center;
}

.row {
    width: 100% !important;
}

.content {
    margin-top: 50px;
    padding-left: 10px;
}

.data {
    padding-top: 15px;
    padding-right: 10px;
    background: #E98C37;
    box-shadow: 1px 1px 1px #bc6515;
}

.data p {
    margin-bottom: 5px;
}

.data b, .data h5 {
    color: #FDFDFD;
}

.panel {
    background: #292d35;
    border: none;
}
/* Style for everything that is a button or wants to look like one */
.border-button {
    cursor: pointer;
    background: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 16px;
    padding: 4px 10px;
    border: 3px solid #1c1c1a;
    color: #261e1e;
    display: inline-block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    outline: none;
    position: relative;
    z-index: 2;
    white-space: nowrap;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.border-button:hover {
    color:#261e1e;
    text-shadow: 0px 2px 2px rgba(236, 105, 19, 0.40);
}



.input small {
    letter-spacing: 1px;
    font-size: 11px;
}
.input {
    margin-bottom: 25px;
}

.small {
    font-size: 12px;
}

.strong {
    font-weight: bold;
}
/* Different Colors for the buttons */
.red {
    border: 3px solid #ba3c12;
}

.green {
    border: 3px solid #7cba00;
}


/* Index Styles
   ========================================================================== */
.i-content {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.sub-title {
    margin: 0 0 25px;
    font-size: 45px;
    line-height: 44px;
    font-weight: 700;
    font-family: rbn;
}

.play {
    font-size: 25px;
    margin-top: -10px;
}

.features {
    margin-top: 100px;
}

.feature img {
    height: 100px;
    width: 100px;
}

.faucet {
    margin-top: 50px;
    color: #7cba00;
    letter-spacing: 2px;
}

/* Menus' Styles
   ========================================================================== */
.menu li {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 35px;
}

.menu li:hover {
    color: #6B9736;
}
.menu .active {
    color: #6B9736;
}

nav .top-bar-title {
    color: #000000;
}

.logo-text {
    font-size: 60px;
    color: #000000;
    padding-top: 30px;
    padding-left: 30px;
}

/* FAQ styles
   ========================================================================== */
.faq-nav li a:not(.button){
    padding: 1px;
    margin-bottom: 5px;
    color: #b0b3c1;
    font-weight: 500;
}

.faq-nav li a:not(.button):hover{
    color: #e58929;
}

/* Contact Styles
   ========================================================================== */
#contact {
    padding-bottom: 30px;
    margin: 10px;
}

/* Top Players Styles
   ========================================================================== */
.leaders td{
    text-align: center;
}

/* Tables Styles
   ========================================================================== */
.j-table {
    position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(243, 150, 47,1);
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgb(255, 82, 5), 0px 9px 25px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 9px 0px rgb(255, 82, 5), 0px 9px 25px rgba(0,0,0,.1);
    box-shadow: 0px 9px 0px rgb(255, 81, 20), 0px 9px 25px rgba(0,0,0,0.1);
    margin:50px auto;
    width: 320px;
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.j-table:active {
    -webkit-box-shadow: 0px 3px 0px rgb(186, 60, 18), 0px 3px 6px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 3px 0px rgb(186, 60, 18), 0px 3px 6px rgba(0,0,0,.2);
    box-shadow: 0px 3px 0px rgb(186, 60, 18), 0px 3px 6px rgba(0,0,0,0.2);
    position: relative;
    top: 6px;
}

.j-table:hover {
    color:#FFFFFF;
}

.j-table-sub {
    text-align: center;
    margin-top: -35px;
}
.small-t {
    font-size: 2.2em;
    padding: 13px;
}

.tables-second-row {
    margin-top: 10px;
}

/* User's Settings
   ========================================================================== */
.settings {
    height: 300px;
}

.settings .menu {
    width: 66px;
    margin-left: 0;
}

/* Account */
.account {
    margin-top: 30px;
}

#statistics {
    margin-top: 30px;
    margin-left: 0px;
    text-align: center;
}
.bits{
    margin: 0px;
}

/* errors pages; 401, 500, 404
   ========================================================================== */
.not-found {
    margin-top: 250px;
}

/* User's public profile
   ========================================================================== */
.rank:hover{
    background-color: rgba(239, 71, 3, 0.77);
}

.user-table td{
    text-align: center;
}

.lose td{
    color: #ba3c12;
}

.pagination {
    width: 139px;
}

.created {
    width: 12%;
}

.game {
    width: 23%;
}

.greeny {
    color: #7cba00;
}

.created small{
    color: #5A5A5A;
}

.stats td{
    text-align: center;
}

/* Forms
  ========================================================================== */
.register input{
    margin-bottom: 0;
}

.giveaway-form {
    width: 323px;
    margin-left: 10%;
}

/* FOUNDATION MEDIA QUERIES */
@media only screen and (max-width: 40.063em) {
    .content {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 40.063em) {
    .top-bar-section li:not(.has-form) a:not(.button) {
        background: #F3DF6C;
        color: #7A7A7A;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Login
  ========================================================================== */

#loginSubmit {
    pointer-events: auto !important; /** Allow clicks even if it is disabled **/
}

@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */


@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */


@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */

a {
    color: #b0b3c1;
}
a:hover, a:active, a:focus {
    color: #E98C37;
}
.radius {
    border-radius: 0 !important;
}

.panel h5, .panel h4 {
    color: white;
}

.button {
    background: #E98C37;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.button:hover {
    background: #53742a;
}

hr {
    border-color: #181a1e;
}

.username a {
    color: #E98C37;
}

.panel h1, .panel p, .panel li, .panel dl, .panel h2, h1, h2 {
    color: #eee;
}
.selected-items-info {
    position: fixed;
    top: 60px;
    right: 20px;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 25px;
    line-height: 25px;
    text-align: center;
}
.selected-items-info strong {
    color: #fff;
}
.selected-items-info input[type="submit"] {
    background: transparent;
    text-transform: uppercase;
    border: 2px white solid;
    color: white;
    padding: 4px;
    font-weight: bold;
    font-size: 11px;
}

input[type="text"], input[type="text"]:focus, input[type="number"], input[type="number"]:focus, input[type="email"], input[type="email"]:focus, select, select:hover, textarea, textarea:focus {
    background: transparent;
    border: 3px solid #6B9736;
    color: #fff;
}

option {
    background: #292d35;
}

.columns > label {
    line-height: 2.3125rem;
}

label {
    color: #fff;
}

table thead tr th, table thead tr td {
    color: #fff;
}
table thead tr {
    background: #181a1e;   
}
table {
    background: #181a1e;
    border: none;
}
table tr th, table tr td {
    color: #eee;
}
table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #2c313a;
}
table tr {
    background: #292d35;
}

.faq h3 {
    color: white;
}

#items {
    display: flex;
    flex-flow: row wrap;
    /*flex-grow: 1;*/
    /*flex-basis: 20%;*/
    /*justify-content: space-between;*/
    /*flex-grow: 1;*/
}
.item {
    flex: 2;
    flex-basis: 18%;
    width: 146px;
    height: 146px;
    background-position: center 12px;
    background-repeat: no-repeat;
    background-color: #22252a;
    position: relative;
    font-size: 11px;
    line-height: 13px;
    display: inline-block;
    margin: 5px;
    border: 1px solid #6B9736;
    cursor: pointer;
}
.item .item-name {
    display: block;
    position: absolute;
    bottom: 0;
    padding: 4px;
    text-align: center;
    /*color: #D32CE6;*/
    color: #ccc;
    background: #181a1e;
    width: 100%;
}
.item .item-price {
    display: block;
    position: absolute;
    top: 0;
    padding: 4px;
    text-align: center;
    color: #fff;
    background: #6B9736;
    width: 100%;
}
.item.item-junk .item-price {
    background: #974236;
}
.item.item-junk {
    border: 1px solid #974236;
}
.item.item-selected {
    border: 1px solid #e67e1e;
}
.item.item-selected .item-name {
    color: #e67e1e;
}
.item.item-selected .item-price {
    background-color: #e67e1e;
    color: #fff;
}

/**
 * PgwModal - Version 2.0
 *
 * Copyright 2014, Jonathan M. Piat
 * http://pgwjs.com - http://pagawa.com
 *
 * Released under the GNU GPLv3 license - http://opensource.org/licenses/gpl-3.0
 */
body.pgwModalOpen {
    overflow: hidden;
}

#pgwModalBackdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
}

#pgwModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index : 9010;
    overflow-x: auto;
    overflow-y: scroll;
    text-align: center;
}

#pgwModal .pm-container {
    margin: 10px;
}

#pgwModal .pm-body {
    display: inline-block;
    max-width: 800px;
    min-width: 300px;
    position: relative;
    width: 100%;
    z-index: 9020;
    margin-top: 10px;
}

/**
 * NOTICE:
 * If you want to update the modal rendering, please only edit the content below.
 * And if you update a class name, remember to specify it in the plugin configuration.
 * Please don't change the class names prefixed by "pm-".
 */

.pgwModalBackdrop {
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.pgwModal .pm-body {
    background-color: rgba(0, 0, 0, 0.8);
}

.pgwModal .pm-title {
    display: none;
}

.pgwModal .pm-content {
    padding: 20px;
}

input[type="text"][disabled] {
    background: none;
    color: #555;
}

input[type="button"][disabled], input[type="button"][disabled]:hover, input[type="submit"][disabled], input[type="submit"][disabled]:hover, button[disabled], button[disabled]:hover {
    background-color: #666 !important;
}

.referral-level {
    color: #222;
    padding: 3px 5px;
}
.referral-level.referral-level-gold {
    background: goldenrod;
}
.referral-level.referral-level-silver {
    background: silver;
}
.referral-level.referral-level-bronze {
    background: chocolate;
}
.referral-level-icon {
    background: #222;
    padding: 3px 5px;
}
.referral-level-icon.referral-level-gold {
    color: goldenrod;
}
.referral-level-icon.referral-level-silver {
    color: silver;
}
.referral-level-icon.referral-level-bronze {
    color: chocolate;
}
.button-twitch {
    background: #6441A5;
    margin: 0;
}
.button-youtube {
    background: #e52d27;
    margin: 0;
}