{{##def.format:param:{{=Math.floor(param.n/100).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}

<!DOCTYPE html>
<html>
{{#def.include('head_new')}}
<body>

<div id="game-wrapper">

    <!-- Receive variables from the server -->
    <script>
        var DEV_OTT = {{? it.devOtt}} "{{=it.devOtt}}" {{??}} null {{?}};
        var LOGGED = {{? it.user}} true {{??}} false {{?}};
        var THEME_FILE_NAME = {{? it.buildConfig}}"{{=it.buildConfig['game-theme-new.css']}}"{{??}}null{{?}};
        var GAME_SERVER = '{{= it.host }}';

        var USER_MESSAGE = {};
        {{? it.user}}

            {{? it.user.error}}
                USER_MESSAGE.type = 'error';
                USER_MESSAGE.text = "{{=it.user.error}}";

            {{?? it.user.advice == 'new'}}
                USER_MESSAGE.type = 'newUser';

            {{?? it.user.advice}}
                USER_MESSAGE.type = 'advice';
                USER_MESSAGE.text = "{{=it.user.advice}}";
            {{?}}

        {{?}}

    </script>

    <div id="game-content">
        {{#def.content || ""}}
    </div>

</div>

</body>
</html>