<header>
    <nav class="nav-top-bar">

        <div class="title">
            <a href="/">
                <img class="hide-for-small-only" src="/img/logo_full.png" style="height: 40px;">
                <img class="show-for-small-only" src="/img/logo.png" style="height: 40px;">
            </a>
        </div>

        <div class="show-for-small-up user-login">
        {{?it.user}}
            <div class="balance-bits">
                <span>Coins: </span>
                <span class="balance" id="balance_bits">{{#def.format:{n: it.user.balance, decimals:0} }}</span>
            </div>
            <div class="username">
                <a href="/account">{{!it.user.nickname}}</a>
            </div>
        {{??}}
            <div class="login">
                <a href="/login"><img src="/img/sign-in.png" style="height: 23px; line-height: 40px;"></a>
            </div>
        {{?}}
        </div>

    </nav>
</header>