<head>
    <title>{{# def.page_title || 'CS:GO Gambling' }} -- CSGOCrash.com</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>
    {{?it.table}}
        <link rel="stylesheet" href="/css/{{? it.buildConfig }}{{=it.buildConfig['game-new.css']}}{{??}}game.css{{?}}" />
        <link rel="stylesheet" href="/css/blackTheme.css" id="black"/>
    {{??}}
        <link rel="stylesheet" href="{{? it.buildConfig }}/css/{{=it.buildConfig['app-new.css']}}{{??}}/css/app.css{{?}}" />
        <link rel="stylesheet" href="/css/blackTheme.css" />
    {{?}}
    {{?it.user}}
    <script>
    BALANCE = {{=it.user.balance/100}};
    </script>
    {{?}}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
     
      ga('create', 'UA-76975343-1', 'auto');
      ga('send', 'pageview');
     
    </script>
</head>