{{##def.format:param:{{=(param.n/100).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}

<!DOCTYPE html>
<html>
    {{#def.include('head_old')}}
<body>

<div class="wrap">
    {{#def.include('header_old')}}

    {{? it.warning }}
        <div class="warning">{{!it.warning}}</div>
    {{?? it.success}}
        <div class="success">{{!it.success}}</div>
    {{??it.user }}

        {{?it.user.error}}

            <div class="warning">
                {{=it.user.error}}
            </div>
        {{??it.user.advice == 'new'}}
        <div class="success">
            Welcome to CSGOCrash! Have fun.

        </div>
        {{?? it.user.advice}}
        <div class="success">
           {{=it.user.advice}}
        </div>
        {{?}}

    {{?}}

    <div class="page-content">
        {{#def.content || ""}}
    </div>

</div>

</body>
</html>