{{##def.format:param:{{=(param.n/100).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}

<!DOCTYPE html>
<html>
{{#def.include('head_new')}}
<body>

<div class="wrap">
    {{#def.include('header_new')}}

    {{? it.warning }}
    <div class="warning-wrap">{{!it.warning}}</div>
    {{?? it.success}}
    <div class="success-wrap">{{!it.success}}</div>
    {{??it.user }}

    {{?it.user.error}}

    <div class="warning-wrap">
        {{=it.user.error}}
    </div>
    {{??it.user.advice == 'new'}}
    <div class="success-wrap">
        Welcome to CSGOCrash! Have fun.

    </div>
    {{?? it.user.advice}}
    <div class="success-wrap">
        {{=it.user.advice}}
    </div>
    {{?}}

    {{?}}

    <div class="page-content">
        {{#def.content || ""}}
    </div>

</div>

</body>
</html>