#chat {
    height: 100%;
    position: relative;
    z-index: 1004;
    font-family: Verdana, Tahoma, "Courier New", Arial;
}

#chat .tabs-container {
    z-index: 9999;
    position: absolute;
    right: 0.5rem;
    top: 0.3rem;
    bottom: 2rem;
    overflow: hidden;
}

#chat .tabs-scroller {
    width: 100%;
    height: 99%;
    overflow: auto;
    padding-right: 15px;
    box-sizing: content-box;
    padding-top: 4px;
}

#chat .tab {
    position: relative;
    padding-left: 3px;
    width: 38px;
}

#chat .tab img {
    width: 30px;
    cursor: pointer;
}

#chat .tab .unread-counter {
    position: absolute;
    top: -1px;
    right: 0px;
    background-color: #FFD52D;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
    padding: 2px 2px;
    font-size: 0.5rem;
    line-height: 0.5rem;
    color: black;
}

#chat .tab .selected-border {
    position: absolute;
    top: 5px;
    left: 0px;
    height: 20px;
    
    width: 2px;
    background-color: orange;
    pointer-events: none;
}

#chat .tab .close-channel {
    position: absolute;
    right: -2px;
    top: -4px;
    color: rgb(234, 0, 0);
    cursor: pointer
;pointer-events: none;
}

#chat .loading-container, #chat .spinner-pre-loader {
    background-image: url('../img/loading-white.gif');
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    height: 100%;
    width: 100%;
}

#chat .spinner-pre-loader {
    visibility: hidden;
    height: 0;
    width: 0;
}

#chat .messages {
    overflow-wrap: break-word;
    overflow-y: scroll;
    font-size: 1rem;
    padding-left: 0.2rem;  /* Allow user to resize element */
    padding-right: 55px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 1.8rem;
}

#chat .chat-input-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#chat .chat-input {
    width: calc(100% - 55px);
    border: 4px solid #ADADAD;
    background: rgba(255,255,255,0.7);
    margin: 0;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#chat .chat-input.disconnected::-webkit-input-placeholder {
    color: red;
}
#chat .chat-input.disconnected:-moz-placeholder { /* Firefox 18- */
    color: red;
}
#chat .chat-input.disconnected::-moz-placeholder {  /* Firefox 19+ */
    color: red;
}
#chat .chat-input.disconnected:-ms-input-placeholder {
    color: red;
}

#chat .time-stamp {
    margin-right: 0.1rem;
    font-size: 0.6rem;
}

#chat .msg-chat-message {
    color: black;
    line-height: 17px;
    font-size: 14px;
    z-index: 1006;
}

#chat .msg-chat-message a {
    color: black;
    font-size: 13px;
    font-weight: 600;
}

/* Channel selector */
#chat-channel-selector {
    width: 55px;
    float: right;
    cursor: pointer;
}

#chat-channel-selector > img {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

#chat-channel-selector > i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

#chat-channel-selector .flags-container {
     position: absolute;
     bottom: 2rem;
     right: 1rem;
 
     z-index: 9999999999;
     background-color: white;
}

/* Animations for the flags container */

.flags-enter {
    opacity: 0.01;
}

.flags-enter.flags-enter-active {
    opacity: 1;
    transition: opacity .5s ease;
}

.flags-leave {
    opacity: 1;
}

.flags-leave.flags-leave-active {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

#chat-channel-selector .flags-container .flags-row {

}

#chat-channel-selector .flags-container .flags-flag {
    width: 30px;
    margin-right: 3px;
}

#chat-channel-selector .flags-popover {
    position: fixed;
    background-color: #FAFAA7;
    color: black;
    font-family: monospace;
    line-height: 1rem;
    font-size: 0.8rem;
    padding: 0 0.2rem;
    z-index: 999999999999;
}

/* Links within the message */
#chat .msg-chat-message .msg-body a {
    color: #008cba; /* Blue */
    font-family: Helvetica, Arial, sans-serif;
}
#chat .msg-chat-message .msg-body a:hover {
    text-decoration: underline;
}

#chat .msg-chat-message.msg-admin-message a {
    color: #e98c37;
}

#chat .msg-chat-message.msg-moderator-message a {
    color: #6B9736;
}

#chat .msg-chat-message.msg-twitch-message a {
    color: #6441A5;
}

#chat .msg-chat-message.msg-youtube-message a {
    color: #e52d27;
}

#chat .msg-info-message {
    line-height: 17px;
}

#chat .msg-info-message span {
    color: #1e5e1e;
    font-size: 14px;
}

#chat .msg-highlight-message {
    background-color: rgba(0, 61, 255, 0.2);
}

#chat .msg-mute-message {
    line-height: 17px;
}

#chat .msg-mute-message a{
    color: #1e3e1e;
    font-size: 13px;
    font-weight: 600;
}

#chat .msg-mute-message span {
    color: #1e3e1e;
    font-size: 14px;
    font-weight: bold;
}

/* Bots messages */
#chat .msg-chat-message.bot-greyed, #chat .msg-chat-message.bot-greyed a {
    color: grey;
}