<!DOCTYPE html>
<html>
{{#def.include('template/head_old')}}
<body>
    <div class="panel rounded not-found">
        <div class="row">
            <div class="large-1 columns">
                <img src="/img/logo.png" alt=""/>
            </div>
            <div class="large-11 columns">
                <h2>The page you are looking for doesn't exist...</h2>
                <a class="button right" href="/">Go Home</a>
            </div>
        </div>
    </div>
</body>
</html>