{{##def.page_title = 'Your account' #}}
{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                localStorage.clear();
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">

    <div class="settings">
        <div class="small-2 columns">
            <ul class="menu">
                <li class="active">
                   Account
                </li>
                <li>
                    <a href="/deposit">Deposit</a>
                </li>
                <li>
                    <a href="/withdraw">Withdraw</a>
                </li>
                <li>
                    <a href="/transfer">Transfer</a>
                </li>
                <li>
                    <a href="/referral">Referrals</a>
                </li>
                <li>
                    <a href="/connections">Connections</a>
                </li>
                <li>
                    <a href="/support">Support</a>
                </li>

                <li>
                    <a onclick="logout();">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <div class="small-10 columns sets-content">
            <h5>Account<span class="right">SteamID64: {{=it.user.steamid}}</span></h5>
            <hr>
            <p class="account">
                <form action="/account/tradelink" method="post">
                    <input type="hidden" name="_csrf" value="{{=it.csrfToken}}">
                    <b>Trade link:</b>
                    <input type="text" value="{{=it.user.trade_link||""}}" name="trade_link" placeholder="https://steamcommunity.com/tradeoffer/new/?partner=xxxxxxxx&amp;token=xxxxxxxx" required pattern="https?://steamcommunity.com/tradeoffer/new/\?partner=\d+&token=.{8}">
                    <input class="button right blue" type="submit" value="Set trade link"/>
                    <a href="https://steamcommunity.com/id/me/tradeoffers/privacy#trade_offer_access_url" target="_blank">Get your trade link here</a> and make sure your <a href="https://steamcommunity.com/id/me/edit/settings/" target="_blank">inventory privacy is set to Public</a>.
                </form>
            </p>
            <br>
            <br>
            <h5>Account Information <a class="right" href="/user/{{=it.user.steamid}}">View your profile</a></h5>
            <hr>
            <div id="statistics" class="row">
                <div class="columns data large-4">
                    <p><b>Deposits </b></p>
                    <h5>{{#def.format:{n: it.user.deposits, decimals:0} }} coins</h5>
                </div>
                <div class="columns data large-4">
                    <p><b>Withdrawals </b></p>
                    <h5>{{#def.format:{n: it.user.withdrawals, decimals:0} }} coins</h5>
                </div>
                <div class="columns data large-4">
                    <p><b>Net Profit</b></p>
                    <h5>{{#def.format:{n: it.user.net_profit, decimals:0} }} coins</h5>
                </div>
            </div>
        </div>
    </div>
    </div>
#}}
{{#def.include('./template/main_old')}}
