{{##def.page_title = 'Referrals' #}}

{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">

    <div class="settings">
        <div class="small-2 columns">
            <ul class="menu">
                <li>
                    <a href="/account">Account</a>
                </li>
                <li>
                    <a href="/deposit">Deposit</a>
                </li>
                <li>
                    <a href="withdraw">Withdraw</a>
                </li>
                <li>
                    <a href="/transfer">Transfer</a>
                </li>
                <li>
                    <a href="/referral">Referrals</a>
                </li>
                <li class="active">
                    Connections
                </li>
                <li>
                    <a href="/support">Support</a>
                </li>

                <li>
                    <a onclick="logout();">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <div class="small-10 columns sets-content">
            <h5>Connections</h5>
            <hr>
            <p>Connecting your account with your Twitch or YouTube accounts will grant you special perks, including a special rank on the chat and a custom referral code.</p>
            <table>
                <tr>
                    <td>Twitch</td>
                    <td>
                        min. 10000 followers and 100000 views
                    </td>
                    <td>
                        {{?!it.connections.twitch}}
                        <a href="/connection/twitch/auth" class="button right button-twitch">Connect via Twitch</a>
                        {{??}}
                        <button class="button right button-twitch" disabled>Connected as {{!it.connections.twitch.identifier}}</button>
                        {{?}}
                    </td>
                </tr>
                <tr>
                    <td>YouTube</td>
                    <td>
                        min. 10000 subscribers and 100000 views
                    </td>
                    <td>
                        {{?!it.connections.youtube}}
                        <a href="/connection/youtube/auth" class="button right button-youtube">Connect via YouTube</a>
                        {{??}}
                        <button class="button right button-youtube" disabled>Connected as {{!it.connections.youtube.identifier}}</button>
                        {{?}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
#}}
{{#def.include('./template/main_old')}}
