{{##def.page_title = 'Deposit' #}}
{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<script type="text/javascript">
ITEM_LIMIT = {{? it.user.admin }}100{{??}}10{{?}};
</script>
<script src="{{? it.buildConfig }}/old/lib/pgwmodal.js{{??}}/client_old/lib/pgwmodal.js{{?}}"></script>
<script src="{{? it.buildConfig }}/old/scripts/inventory.js{{??}}/client_old/scripts/inventory.js{{?}}"></script>
<form action="/logout" method="post" id='logout'></form>
    <div class="content row panel radius">
        <div class="settings">
            <div class="small-2 columns">
                <ul class="menu">
                    <li>
                        <a href="/account">Account</a>
                    </li>
                    <li class="active">
                        Deposit
                    </li>
                    <li>
                        <a href="/withdraw">Withdraw</a>
                    </li>
                    <li>
                        <a href="/transfer">Transfer</a>
                    </li>
                    <li>
                        <a href="/referral">Referrals</a>
                    </li>
                    <li>
                        <a href="/connections">Connections</a>
                    </li>
                    <li>
                        <a href="support">Support</a>
                    </li>

                    <li>
                        <a onclick="logout();">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            <div class="small-10 columns setts-content">
                <h5>Deposit skins <a class="right" id="refresh">Refresh inventory</a></h5>
                <hr>
                <div class="row">
                    <div class="medium-7 columns">
                        <input type="text" placeholder="Search items..." id="filter">
                    </div>
                    <div class="medium-5 columns">
                        <select id="sort">
                            <option value="price:-1" selected>Sort by price</option>
                            <option value="price:1">Sort by price (low to high)</option>
                            <option value="name:1">Sort by name (A-Z)</option>
                        </select>
                    </div>
<!--                     <div class="medium-2 columns">
                        <label>
                            <input type="checkbox" id="hidejunk">&nbsp;Hide junk
                        </label>
                    </div> -->
                </div>
 
                <div id="items">

                </div>

                <span class="button" data-page="-1">Previous page</span>
                <span class="button right" data-page="1">Next page</span>

                <br>
                <span class="button right" id="deposit">Deposit <span id="summary"></span></span>

                <br>

                <h5>Recent deposits</h5>
                <hr>
                {{?it.deposits.length > 0}}
                    <table>
                        <thead>
                            <tr>
                                <td>Offer ID</td>
                                <td>Coins</td>
                                <td>Security code</td>
                                <td>Status</td>
                                <td class="show-for-medium-up">Created</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{~it.deposits :deposit:index}}
                                <tr>
                                    <td>{{?deposit.tradeoffer_id}}<a href="http://steamcommunity.com/tradeoffer/{{=deposit.tradeoffer_id}}" target="_blank">{{=deposit.tradeoffer_id}}</a>{{??}}<i>n/a</i>{{?}}</td>
                                    <td>{{#def.format: {n: deposit.value, decimals: 0 } }}</td>
                                    <td>{{=deposit.security_code}}</td>
                                    <td>{{=deposit.status}}</td>
                                    <td class="show-for-medium-up">{{=it.timeago(deposit.created)}}</td>
                                </tr>
                            {{~}}
                        </tbody>
                    </table>
                {{??}}
                    <p>You don't have deposits</p>
                {{?}}
                </div>

            </div>
        </div>
    </div>
#}}
{{#def.include('./template/main_old')}}
