{{##def.page_title = 'Frequently Asked Questions' #}}

{{##def.content:
<div class="row faq panel radius">

    <h5>Frequently Asked Questions</h5>
    <hr>
    <div class="columns large-3">
        <div class="faq-nav">
            <ul class="side-nav">
                <li><a href="#how-to-play">How to play?</a></li>
                <li><a href="#coins">What is a coin?</a></li>
                <li><a href="#deposit">How do I deposit skins for coins?</a></li>
                <li><a href="#deposit-missing">How long is the deposit address valid for?</a></li>
                <li><a href="#deposit-time">How long for deposits to be credited to account?</a></li>
                <li><a href="#withdraw">How do I withdraw my coins to skins?</a></li>
                <li><a href="#gross-profit">What is Gross Profit?</a></li>
                <li><a href="#dropout">What happens if I disconnect from the game?</a></li>
                <li><a href="#high">How high can the game go?</a></li>
                <li><a href="#limit">What is the most I can bet?</a></li>
                <li><a href="#odds">What are the game odds?</a></li>
                <li><a href="#crash-point">How is the game crash calculated?</a></li>
                <li><a href="#fair">Is the game fair?</a></li>
                <li><a href="#verify">How to verify the game results?</a></li>
                <li><a href="#force">What happens when the server forces people to cash out?</a></li>
                <li><a href="#referral">How does the referral system work?</a></li>
                <li><a href="#reflevel">What is affiliate level?</a></li>
                <li><a href="#connections">What are connections?</a></li>
                <li><a href="#addiction">Gambling Addiction</a></li>
            </ul>
        </div>
    </div>

    <div class="columns large-9">
        <dl>

            <dd>
                <b><a name="how-to-play"></a>How to play?</b>
                <p>
                    Place a bet. Watch the multiplier increase from 1x upwards! Cash out any time to get your bet
                    multiplied by that multiplier. But be careful because the game can crash at any time, and you'll get nothing!
                </p>
            </dd>
            <dd>
                <b><a name="coins"></a>What is a coin?</b>
                <p>
                    A coin is a one thousandth of a dollar ($0.001). Coins are backed by Steam skins.
                    You are able to deposit and withdraw coins at any time by going to your <a href="/account">account page</a>.
                </p>
            </dd>
             <h3>Deposit/Withdraw</h3>
            <dd>
                <b><a name="deposit"></a>How do I deposit skins for coins?</b>
                <p>
                    To deposit, head over to your Account page. Make sure your trade link is properly set.
                    Once you’ve done that, go to the Deposit page, select up to 10 items and then hit Deposit button. <br>Keep in mind that some low-value or low-popularity items are not depositable.<br>Make sure the security codes on both the trade offer and the site are the same.

                </p>
            </dd>
            <dd>
                <b><a name="deposit-missing"></a>Why are some of my items missing from the deposit page?</b>
                <p>
                    You might need to refresh your inventory by clicking the “Refresh” button on the top right of the Deposit site.
                </p>
            </dd>
            <dd>
                <b><a name="withdraw"></a>How do I withdraw my coins to skins?</b>
                <p>
                    Go to the Withdraw page, select up to 10 items and then hit the Withdraw button.<
                </p>
                <p>
                    Once you receive the trades, make sure the security codes on both the trade offers and the site are the same.
                </p>
                <p>If you happen to decline a trade offer, coins will be credited back to you account within 5 minutes.</p>
            </dd>
            <dd>
                <b><a name="deposit"></a>How are item prices determined?</b>
                <p>
                   Item prices are determined using the SteamAnalyst API.<br>
                   Some low-value items might be underpriced to prevent using our site for trading up items.<br>
                   Such items have the same price at deposit and withdrawal, so you can deposit and withdraw your item at no extra cost.<br>
                </p>
            </dd>
            <h3>Game</h3>
            <dd>
                <b><a name="gross-profit"></a> What is gross profit?</b>
                <p>
                    Gross profit refers to the sum of the profit from each game you've played without considering your loses.
                </p>
            </dd>

            <dd>
                <b><a name="dropout"></a>What happens if I disconnect from the game?</b>
                <p>
                    Upon detecting that you have disconnected we cash you out (assuming the game is still in progress).
                    Regardless of whether your client is connected or not, the <em>auto cash-out</em> feature will work as expected (it happens on
                    the server), and we highly recommend you use it if internet reliability or performance is a concern.
                </p>
            </dd>
            <dd>
                <b><a name="high"></a>How high can the game go?</b>
                <p>
                    There's no real limit! However, if during a game we ever are facing a net loss of 3% of the bankroll or greater,
                    the server will automatically cash out all players still in the game, forcing them to enjoy an early win and a sizeable profit.
                    You can see in game what the current max win is (in the bottom right of the chart)
                </p>
            </dd>
            <dd>
                <b><a name="limit"></a>What is the most I can bet?</b>
                <p>
                    We currently have a bet limit of 500000 coins ($500).
                </p>
            </dd>
            <h3>Fairness</h3>
            <dd>
                <b><a name="fair">Is the game fair?</a></b>
                <p>We have generated a chain of 3 million SHA-256 hashes, starting with a secret that has been repeatedly fed the output of SHA-256 back into itself 3 million times.</p>
                <p>We will play through that chain of 3 million hashes, in reverse order, and use the hashes to determine the crash point in a provably fair manner.</p>
                <p>See <a href="#crash-point">How is the game crash point calculated?</a> to learn how the crash point is extracted from a game hash.
            </dd>
            <dd>
                <b><a name="odds"></a>What are the game odds?</b>
                <p>
                    The house margin is scaled between 0 and 2%, depending on how long you hold.
                </p>
                <p>
                    The numbers are baked into the game, so you never need to worry about it. We do not
                    have a fixed house margin, as this would prevent highly conservative play (e.g. If you were
                    only attempting to make $2 in a $100 game, a house margin of 1% would be 50% of your potential profits!).
                    Our unique formula makes it fair for both highly conservative play (cash out early) and highly aggressive
                    play (hold until you're a millionaire). All games are <a href="#fair">provably fair</a>.
                </p>
                <p>
                    The exact formula for the houses expected return is:<br />
                    <code>2% * (intendedCashOut - roomAmount) * (roomAmount / intendedCashOut)</code><br />
                    But to really get a good sense of how this affects you, please use our handy <a href="/calculator">odds calculator</a>.
                </p>
                <p>
                    The other important thing to keep in mind is that every game has a 2% chance of instantly crashing.
                </p>
                <img src="/img/house-edge.png">
            </dd>
            <dd>
                <b><a name="crash-point"></a>How is the game crash point calculated?</b>
                <p>
                    It basically does three things.
                </p>
                <p>
                    First, it mixes the hash with the clientSeed (an sha-256 hash of "CSGOCrash") using hmac-sha256
                </p>
                <p>
                    Secondly it gives a 1 in 51 chance of instant crashing
                </p>
                <p>
                    Third, it works out what the multiplier would be if there was no
                    house edge.
                </p>
                <p>
                    Fourth, it takes 2% off the multiplier.
                </p>
                <p>
                    That means if we bet 1.98x we have a 50% chance of winning (again,
                    ignoring 0x crashes), and so the house edge is:
                </p>
                <p>
                    <code>100 - (1.98 * 50) = 100 - 99 = 1%</code>
                </p>
            </dd>
            <dd>
                <b><a name="verify"></a>How to verify the game results?</b>
                <p>
                    There are already 3rd party scripts to verify the game hashes and to calculate the results like this
                    <a href="https://jsfiddle.net/3L6L2fmv/embedded/result/">JSFiddle</a>.
                </p>
            </dd>
            <dd>
                <b><a name="force"></a>What happens when the server forces people to cash out?</b>
                <p>
                    Under some circumstances the server will force people to cash out. The most common reason is that the game multiplier
                    has gotten so large that we are risking too much of our bankroll (4% or more). Another possible reason is
                    unexpected server problems.
                </p>
            </dd>
            <dd>
                <b><a name="referral"></a>What is the referral system?</b>
                <p>
                    The referral system lets anyone earn credits by referring new players to the site.
                    Visit the referral panel in your account to generate your unique referral code. Share with friends, in forum signatures, or on social media.
                    When new players use your referral code they'll earn 100 free coins. And you'll earn coins every time your referrals place a bet, regardless if they win or lose.

                </p>
            </dd>
            <dd>
                <b><a name="reflevel"></a>What is the affiliate level?</b>
                <p>
                    Your affiliate level determines how much (%) you'll earn from each referral. Your affiliate level is determined by the amount of unique depositors you've referred:
                    <table>
                        <tr>
                            <th>Unique depositors</th>
                            <th>Affiliate level</th>
                            <th>Profit</th>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>Bronze</td>
                            <td>1 coin per 300 coins bet</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>Silver</td>
                            <td>1 coin per 200 coins bet</td>
                        </tr>
                        <tr>
                            <td>200</td>
                            <td>Gold</td>
                            <td>1 coin per 100 coins bet</td>
                        </tr>
                    </table>
                </p>
            </dd>
            <dd>
                <b><a name="connections"></a>What are connections?</b>
                <p>
                    You can connect your YouTube, and Twitch account to our website, and receive extra benefits, which include the ability to generate custom referral codes and a special color on the chat.
                </p>
            </dd>
            <dd>
                <b><a name="addiction"></a>Do you have gambling addiction?</b>
                <p>
                    Gambling addiction, also known as compulsive gambling, is a type of impulse-control disorder.
                    Compulsive gamblers can’t control the impulse to gamble, even when they know their gambling is hurting themselves or their loved ones. Gambling is all they can think about and all they want to do, no matter the consequences. Compulsive gamblers keep gambling whether they’re up or down, broke or flush, happy or depressed. Even when they know the odds are against them, even when they can’t afford to lose, people with a gambling addiction can’t “stay off the bet.”
                </p>
                <p>
                    Gamblers can have a problem, however, without being totally out of control. Problem gambling is any gambling behavior that disrupts your life. If you’re preoccupied with gambling, spending more and more time and money on it, chasing losses, or gambling despite serious consequences, you have a gambling problem.
                </p>
                <p>
                    <p>If you think you have this problem please visit one of these sites to get assistance:</p>
                    <b>UK: </b><a href="http://www.gambleaware.co.uk/">http://www.gambleaware.co.uk/</a></br>
                    <b>US: </b><a href="http://www.ncpgambling.org/help-treatment/help-by-state/">http://www.ncpgambling.org/</a></br>
                    <b>Self Help: </b><a href="http://www.gamblersanonymous.org/ga/">http://www.gamblersanonymous.org/ga/</a>
                </p>
            </dd>
        </dl>
    </div>
    <a class="right button" href="#">Up</a>
</div>
#}}
{{#def.include('./template/main_old')}}
