{{##def.page_title = 'Strategy Guide' #}}

{{##def.content:
<div class="row faq panel radius">
    <h3>Strategy Guide</h3>
    <hr>
    <p>
        <b>CSGOCrash.com</b> is a game of luck. This means that if you play in a strategy-oblivious way, you'll
        not do too bad. But with a good enough strategy, it's actually possible to make enormous profit.

    </p>
    <p><b>Here's how it works:</b></p>

    <h4>Instacrash</h4>
    <p>
        Right off the bat, there's a <b>2%</b> chance of the game instantly crashing. If this happens, no one can win anything.
        This means CSGOCrash.com has an expected return of <code>2% * playersInGame * tableAmount</code>.
    </p>

    <h4>House edge</h4>
    <p>
        It scales between 0 and 2% <small><a href="/calculator" target="_blank">see: odds and calculator.</a></small>
        This is what you need to overcome!
    </p>

    <h4>Single Player Game</h4>
    <p>
        If you're playing a game, and no one else joins, it's not possible to overcome the <b>house odds</b>, and it becomes
        a simple game of luck.
    </p>
</div>

#}}
{{#def.include('./template/main_old')}}
