{{##def.page_title = 'The Social Gambling Game' #}}

{{##def.content:
    <div class="index">

        <div class="grid">
            <div class="col-1-1">
                <h1 class="title">The Social Gambling Game</h1>
                <p align="center">Place a bet. Watch the multiplier increase from 1x upwards!<br>Cash out any time to get your bet multiplied by that multiplier.<br>But be careful because the game can crash at any time, and you'll get nothing!</p>
            </div>

            {{~it.servers :server:index}}
            <div class="play-btn-col col-1-1">
                <div class="play-btn-cont">
                    <a href="/play/{{=server.id}}" class="play">
                        Server {{=server.id}}
                        <small class="hide-for-small {{? server.players < 100}}low-load{{?? server.players < 250}}medium-load{{??}}high-load{{?}}">
                            {{= server.players}} players<br>
                            {{? server.players < 100 }}
                            Low load
                            {{?? server.players < 250 }}
                            Medium load
                            {{??}}
                            High load
                            {{?}}
                        </small>
                    </a>
                </div>
            </div>
            {{~}}

        </div>

        <div class="features grid">

            <div class="feature col-3-12">
                <div>
                    <img src="img/icons/dart.png" alt=""/>
                </div>
                <h4 style="line-height: 25px;">99% Luck<br />&nbsp;1% Skill</h4>
                <p class="text">
                    Play for fun! Or play to win! <br>
                    <a href="/guide">See strategy guide</a>
                </p>
            </div>
            <div class="feature col-3-12">
                <div>
                    <img src="img/icons/chart.png" alt=""/>
                </div>
                <h4>Real Time</h4>
                <p class="text">
                    Watch your fortune rise<br> in real time!
                </p>
            </div>
            <div class="feature col-3-12">
                <div>
                    <img src="img/icons/secure.png" alt=""/>
                </div>
                <h4>Secure</h4>
                <p class="text">
                    <a href="faq#fair">Provably fair</a><br>
                    Low <a href="faq#odds">house edge</a> (between 0 and 2%)
                </p>
            </div>
            <div class="feature col-3-12">
                <div>
                    <img src="img/icons/multiplayer.png" alt=""/>
                </div>
                <h4>Social</h4>
                <p class="text">
                    Play with friends<br />
                    and beat your foes
                </p>
            </div>

        </div>

    </div>
#}}
{{#def.include('./template/main_new')}}
