{{##def.page_title = 'Leader Board' #}}

{{##def.content:
<div class="content row panel radius">
    <h5 id="top">Current biggest losers:</h5>

    <hr>
    <table class="leaders">
        <thead>
            <tr>
                <td>
                    #
                </td>
                <td>
                    Player
                </td>
                <td>
                    Profit
                </td>
            </tr>
        </thead>
        <tbody>
            {{~it.losers :loser:index}}
                <tr>
                    <td>
                        {{= index+1 }}
                    </td>
                    <td>
                        <a href="/user/{{=loser.steamid}}">{{!loser.nickname}}</a>
                    </td>
                    <td>
                        {{#def.format: { n: loser.profit, decimals: 0 } }} coins
                    </td>
                </tr>
            {{~}}

        </tbody>
    </table>

</div>
#}}

{{#def.include('./template/main_old')}}