{{##def.page_title = 'Referrals' #}}

{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">

    <div class="settings">
        <div class="small-2 columns">
            <ul class="menu">
                <li>
                    <a href="/account">Account</a>
                </li>
                <li>
                    <a href="/deposit">Deposit</a>
                </li>
                <li>
                    <a href="withdraw">Withdraw</a>
                </li>
                <li>
                    <a href="/transfer">Transfer</a>
                </li>
                <li class="active">
                    Referrals
                </li>
                <li>
                    <a href="/connections">Connections</a>
                </li>
                <li>
                    <a href="/support">Support</a>
                </li>

                <li>
                    <a onclick="logout();">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <div class="small-10 columns sets-content">
            <div class="row">
                <div class="small-6 columns">
                    <h5>Your referral code</h5>
                    <hr>
                    <form action="/referral/generate" method="post">
                        <input type="hidden" name="_csrf" value="{{=it.csrfToken}}">
                        <input type="text" {{?['twitch', 'youtube', 'admin', 'moderator'].indexOf(it.user.userclass) === -1}}readonly placeholder="Generate a code first"{{??}}placeholder="Enter custom code" name="custom"{{?}} value="{{!it.user.referral_code}}" maxlength="12">
                        {{?it.user.referral_code}}
                        <input type="submit" class="button right" value="Generate new code">
                        {{??}}
                        <input type="submit" class="button right" value="Generate code">
                        {{?}}
                    </form>
                </div>
                <div class="small-6 columns">
                    <h5>Use a code</h5>
                    <hr>
                    {{?it.user.referrer_id}}
                    <input type="text" disabled value="Already referred by {{!it.referrer.nickname}}">
                    <input type="submit" class="button right" value="Already used" disabled>
                    {{??}}
                    <form action="/referral/use" method="post">
                        <input type="hidden" name="_csrf" value="{{=it.csrfToken}}">
                        <input type="text" placeholder="Enter code here" name="code">
                        <input type="submit" class="button right" value="Use code">
                    </form>
                    {{?}}
                </div>
            </div>
            <div class="row">
                <h5>
                    Users referred
                    <span class="right">
                        Level:
                        <i class="fa fa-star referral-level-icon referral-level-{{=it.level}}"></i><span class="referral-level referral-level-{{=it.level}}">{{=it.level.toUpperCase()}}</span>
                    </span>
                </h5>
                <hr>
                {{?it.referred.length > 0}}
                <table>
                    <thead>
                        <tr>
                            <td>User</td>
                            <td>Profit</td>
                            <td>Time</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{~it.referred :referred:index}}
                        <tr>
                            <td><a href="/user/{{=referred.steamid}}">{{!referred.nickname}}</a></td>
                            <td>{{#def.format: {n: referred.referral_profit, decimals: 2 } }} coins</td>
                            <td>{{=it.timeago(referred.referred_time)}}</td>
                        </tr>
                        {{~}}
                    </tbody>
                </table>
                {{??}}
                    <p>You haven't referred anyone yet.</p>
                {{?}}
                <hr>
                <div id="statistics" class="row">
                    <div class="columns data large-4">
                        <p><b>Users referred</b></p>
                        <h5>{{=it.user.referred}}</h5>
                    </div>
                    <div class="columns data large-4">
                        <p><b>Total earnings</b></p>
                        <h5>{{#def.format: {n: it.sum, decimals: 2 } }} coins</h5>
                    </div>
                    <div class="columns data large-4">
                        <p><b>Profit per referred's bet</b></p>
                        <h5>1 coin per {{=1/it.profit}} bet</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#}}
{{#def.include('./template/main_old')}}
