{{##def.page_title = 'Transfer' #}}

{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">
    <div class="settings">
        <div class="small-2 columns">
            <ul class="menu">
                <li>
                    <a href="/account">Account</a>
                </li>
                <li>
                    <a href="/deposit">Deposit</a>
                </li>
                <li>
                    <a href="/withdraw">Withdraw</a>
                </li>
                <li class="active">
                  Transfer
                </li>
                <li>
                    <a href="/referral">Referrals</a>
                </li>
                <li>
                    <a href="/connections">Connections</a>
                </li>
                <li>
                    <a href="/support">Support</a>
                </li>
                <li>
                    <a onclick="logout();">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <div class="small-10 columns sets-content">
            <h5>Transfer History<a href="/transfer/request" class="right">Transfer coins</a></h5>
            <hr>
            {{?it.transfers.length > 0}}
                <table>
                    <thead>
                        <tr><td>From</td><td>To</td><td>Amount</td><td>Time</td></tr>
                    </thead>
                    <tbody>
                    {{~it.transfers :transfer:index}}
                        <tr>
                            <td><a href="/user/{{= transfer.is_from_me ? it.user.steamid : transfer.steamid }}">{{! transfer.is_from_me ? it.user.nickname : transfer.nickname }}</a></td>
                            <td><a href="/user/{{= transfer.is_from_me ? transfer.steamid : it.user.steamid }}">{{! transfer.is_from_me ? transfer.nickname : it.user.nickname }}</a></td>
                            <td>{{? transfer.is_from_me}}
                                  -
                                {{??}}
                                   +
                                {{?}}
                                {{#def.format: {n: transfer.amount, decimals: 0 } }} coins</td>
                            <td>
                                {{=it.timeago(transfer.created)}}
                            </td>
                        </tr>
                    {{~}}
                    </tbody>
                </table>

            {{??}}
            <p>You have neither made nor received any transfers.</p>
            {{?}}
        </div>
    </div>
</div>

#}}
{{#def.include('./template/main_old')}}
