{{##def.page_title = 'Transfer Request' #}}

{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">

    <div class="settings">
        <div class="small-2 columns">
            <ul class="menu">
                <li>
                    <a href="/account">Account</a>
                </li>
                <li>
                    <a href="/deposit">Deposit</a>
                </li>
                <li>
                    <a href="/withdraw">Withdraw</a>
                </li>
                <li>
                    <a class="active" href="/transfer">Transfer</a>
                </li>
                <li>
                    <a href="/referral">Referrals</a>
                </li>
                <li>
                    <a href="/connections">Connections</a>
                </li>
                <li>
                    <a href="/support">Support</a>
                </li>
                <li>
                    <a onclick="logout();">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <div class="small-10 columns sets-content">
            <h5>Transfer coins</h5>
            <hr>
            <form action="/transfer-request" method="post">
                <input type="hidden" name="_csrf" value="{{=it.csrfToken}}">
                <label for="amount">Coins</label>
                <input type="number" id="amount" name="amount" placeholder="100" min="10" step="1" required/>
                <label for="to-steamid">Recipient SteamID64</label>
                <input type="text" id="to-steamid" name="to-steamid" required/>
                <a href="/transfer" class="button ">Back</a>
                <input class="button right" type="submit"/>
                <input type="hidden" name="transfer-id" value="{{= it.id}}" />
            </form>
        </div>
    </div>
</div>
#}}

{{#def.include('./template/main_old')}}
